.container.mt-4
  .row.grey
    = render 'search'
  .row
    .col-12.notifications
  .row.justify-content-center
    .col-7
      .row
        .col-1
          = link_to 'Back', root_path
        .col
          %h3 
            Empleados de 
            = @department.name
      -if @employees.empty?
        %img.card.emptydep(src="https://www.cdc.gov/ncbddd/adhd/images/adhd-behavior-therapy-600x300.png")/
      -else
        %table.table.border
          %thead
            %tr
              %th Cédula
              %th Nombre
              %th Celular
              %th.text-center Acciones 

          %tbody
            - @employees.each do |employee|
              %tr
                %td= employee.dni
                %td
                  = employee.first_name
                  = employee.last_name
                %td
                  = employee.cellphone
                %td.text-center
                  -# %td= link_to 'Show', department_employee_path(@department, employee)
                  = link_to 'Edit', edit_department_employee_path(@department, employee), class: "btn btn-primary"
                  -# %td= link_to 'Edit', department_employees_path(@department, @employee)
                  = link_to 'Destroy', [@department, employee], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

        %br
    .col-4
      %h3 Nuevo empleado
      = render 'form'

