.col-9
    %input.input-group(type="text" placeholder="Busqueda de empleados")
.col-1
    %input.btn.btn-primary(type="button" value="Go")
.col-2.text-right
    = link_to "Cerrar sesión", destroy_company_session_path, method: :delete, class: "btn btn-danger"