.container.mt-4
  .row.grey
    = render 'search'
  .row
    .col-12.notifications
  .row.justify-content-center
    .col-7
      %h3 Departamentos
      
      - if @departments.empty?
        %img.card.emptydep(src="https://www.cdc.gov/ncbddd/adhd/images/adhd-behavior-therapy-600x300.png")/
      - else
        %table.table.border
          %thead
            %tr
              %th Nombre del departamento
              %th.text-center Cantidad de empleados
              %th.text-center Acciones

          %tbody
            - @departments.each do |department|
              %tr
                %td= link_to department.name, department_employees_path(department)
                %td.text-center= @employees.where(:department_id => department.id).length
                %td.text-center
                  = link_to 'Sho', department_employees_path(department), class: "btn btn-primary"
                  = link_to 'Edit', edit_department_path(department), class: "btn btn-info"
                  = link_to 'Des', department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger small"

        %br
    .col-3
      %h4 Nuevo departamento

      = render 'form'
