.container.signin
  .row
    .col-4
    .col-4.card.pb-5
      %h2.text-center Iniciar sesión
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :Correo_electrónico
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-group"
        .field.mt-1
          = f.label :Contraseña
          %br/
          = f.password_field :password, autocomplete: "off", class: "input-group"
        - if devise_mapping.rememberable?
          .field.mt-2
            = f.check_box :remember_me
            = f.label :recuérdame
        .actions.mt-3
          = f.submit "Ingresar", class: "btn btn-primary input-group"
      = render "devise/shared/links"
