@import "bootstrap";



.signin {
    margin-top: 20vh;
}
.signup {
    margin-top: 15vh;
}

.grey{
    background-color: rgb(245, 245, 245);
    padding: 10px
}

.notifications{
    height: 80px;
}

.emptydep{
    width: 600px;
    height: 300px;
}